{% extends 'base.html.twig' %}
{% block body %}


    <br>
    <div class="container">
        <center>
            <h1>Hello Bienvenu(e) sur notre Forum !</h1>
            <br>

            <div class="card-group">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title"><a href="login" class="btn btn-primary btn-lg active">Vous connecter</a></h5>
                        <p class="card-text">Si vous disposez déjà d'un compte bien vouloir vous connecter pour rejoindre le Forum.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title"> <a href="register" class="btn btn-primary btn-lg active"> Vous inscrire</a></h5>
                        <p class="card-text">Pas encore de comte ? Enregistrez vous !</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>

            </div>
        </center>
    </div>
    <br><br>
{% endblock %}





