{% extends 'frontend/base.html.twig' %}

{% block body %}
    <div class="content container">
        <div class="section-title-wrap">
            <br>
            <br>
            <h3 class="section-title" style="    color: #3A444D;
    margin-bottom: 0;
    font-weight: 700;
    display: inline-block;">Félicitations votre participation a été enregistré avec succès </h3>

        </div>
        <br>
        <br>
    </div>
{% endblock %}
