{% extends 'frontend/base.html.twig' %}

 {% block body %}



    <div class="banner_bottom_agile_info">
        <div class="container">
            <div class="agile_ab_w3ls_info">
                <div class="col-md-6 ab_pic_w3ls">
                    <img src="{{ asset('assets/images/ab_pic.jpg')}}" alt=" " class="img-responsive">
                </div>
                <div class="col-md-6 ab_pic_w3ls_text_info">
                    <h5>Le concept <span>de Tunisian Got Talent </span> </h5>
                    <p>
                        Tunisian Got Talent est une application de compétition, permettant de créer des évènements pour permettre aux candidatures d’envoyer des vidéos montrant leurs
                        talents et leurs créations également le vote et le suivi.</p><h4>Comment participer?</h4>
                    <p>-Choisissez votre chanson talent et enregistrez vous avec votre portable ou une caméra.<br>
                        -Utilisez votre compte pour mettre votre vidéo
                    </p></div>
                <div class="clearfix"></div>
            </div>
            <div class="banner_bottom_agile_info_inner_w3ls">
                <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="{{ asset('assets/images/bottom1.jpg')}}" alt=" " class="img-responsive">
                    </figure>
                </div>
                <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="{{ asset('assets/images/bottom2.jpg')}}" alt=" " class="img-responsive">
                    </figure>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
 {% endblock %}